{% extends "base_logged_in_sidebar.html" %}
{% load static %}
{% block nav_widgets %}
        <div>
            <img src="{% static 'images/status_tank.png' %}" class="installation-title-img" title="Installation">
        </div>
        <div id="installation_name"></div>
        <div class="vertical-separator"></div>
        <div>
            <button id="map" class="btn widget-button" type="button" value="0" onclick="window.open('/','_self');">
                <img src="{% static 'images/map_gray.png' %}" id="map-icon" class="map-icon" data-toggle="tooltip" data-placement="bottom" title="Open Tank Monitoring installations map">
            </button>
        </div>
        <div class="vertical-separator"></div>
{% endblock %}
{% block sidebar_content %}
            <ul id="sections" data-pjax class="list-group">
                <li>
                    <a data-pjax href="/dashboard/" class="list-group-item list-group-item-action d-flex align-items-center">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="digi-menu-icon fas fa-tachometer-alt fa-fw fa-lg mr-3"></span>
                            <span class="menu-collapsed">Dashboard</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a data-pjax href="/history/" class="list-group-item list-group-item-action d-flex align-items-center">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="digi-menu-icon fas fa-chart-area fa-fw fa-lg mr-3"></span>
                            <span class="menu-collapsed">Historic data</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a data-pjax href="/configuration/" class="list-group-item list-group-item-action d-flex align-items-center">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="digi-menu-icon fas fa-cogs fa-fw fa-lg mr-3"></span>
                            <span class="menu-collapsed">Configuration</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a data-pjax href="/alerts/" class="list-group-item list-group-item-action d-flex align-items-center">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="digi-menu-icon fas fa-bell fa-fw fa-lg mr-3"></span>
                            <span class="menu-collapsed">
                                Alerts
                                <i id="new-alerts" class="fa fa-fw fa-exclamation" style="display: none;color: #dc3545;" title="New alerts"></i>
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
{% endblock %}

{% block page_content %}
        <div id="loading">
            <img id="loading-image" src="/static/images/loading.gif" alt="Loading..." />
        </div>
        <div id="pjax-container">
            {% block inner_content %}{% endblock %}
            {% block javascript_inner %}{% endblock %}
        </div>
{% endblock %}

{% block javascript %}
    <!-- Local JS files and functions -->
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/history.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/configuration.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/alerts.js' %}"></script>
    <script>
    $(document).ready(function() {
        // Don't show the loading spinner at the beginning. Initial page
        // load is full, so not relying on AJAX.
        $("#loading").hide();

        verifyParameters();

        // Set up PJAX.
        if ($.support.pjax) {
            $.pjax.defaults.timeout = 20000;
            $.pjax.defaults.fragment = "#pjax-container";
            $(document).pjax("a[data-pjax]", "#pjax-container");

            $(document).on("pjax:send", function(e) {
                setSelectedSection(e.currentTarget.activeElement);
                $("#pjax-container").hide();
                $("#loading").show();
            });

            $(document).on("pjax:complete", function() {
                $("#loading").hide();
                $("#pjax-container").show();
                verifyParameters();
            });
        }

        // Append the URL parameters to the section links.
        var params = new URLSearchParams(window.location.search).toString();
        if (params) {
            $("#sections li").each(function(i, n) {
                n.children[0].href += "?" + params;
            });
        }

        // Set the selected section.
        setSelectedSection();

        // Set the name of the selected installation.
        $("#installation_name").html("{{ installation_name }}".toUpperCase());

        // Change the color of the map icon when hovering.
        $("#map").on({
            "mouseover" : function() {
                $("#map-icon").attr("src", "{% static 'images/map_green.png' %}");
            },
            "mouseout" : function() {
                $("#map-icon").attr("src", "{% static 'images/map_gray.png' %}");
            }
        });
    });

    // Sets the selected section.
    function setSelectedSection(element=null) {
        // First, unselect all the sections.
        $("#sections li").each(function(i, n) {
            n.children[0].classList.remove("selected");
        });

        // Select the corresponding section.
        if (element != null) {
            element.classList.add("selected");
        } else {
            $("#sections li").each(function(i, n) {
                if (window.location.pathname == n.children[0].pathname) {
                    n.children[0].classList.add("selected");
                    return false;
                }
            });
        }
    }

    // Returns the installation name.
    function getInstallationName() {
        return '{{ installation_name }}';
    }

    // Gets the status of the installation.
    function verifyParameters() {
        let url = new URL(window.location.href);
        let installation_id = url.searchParams.get("installation_id");
        let installation_name = url.searchParams.get("installation_name");

        $.post(
            "{% url 'verify_parameters' %}",
            JSON.stringify({
                "installation_id": installation_id,
                "installation_name": installation_name
            }),
            function(data) {
                if (data["redirect"])
                    window.location.replace(data["redirect"]);
            }
        );
    }
    </script>
{% endblock %}