{% extends "sidebar.html" %}
{% load static %}
{% block title %}
Digi Demo - Management
{% endblock %}
{% block inner_content %}
<!--            <input type="file" id="firmware_file" style="display:none" onchange="firmwareFileChanged()" accept=".swu,.json,.txt"/>-->
            <input type="file" id="firmware_file" style="display:none" onchange="firmwareFileChanged(ID_UPDATE_FIRMWARE_FILE)"/>
            <input type="file" id="fileset_fw_file" style="display:none" onchange="firmwareFileChanged(ID_UPLOAD_FIRMWARE_FILESET)"/>
            <div class="row justify-content-lg-center">
                <div class="col-lg-12 col-xl-12">
                    <div id="loading_popup" class="popup popup-loading shadow">
                        <img class="popup-item" src="{% static 'images/loading.gif' %}" alt="Loading..." />
                        <div id="loading_popup_message" class="popup-text">Loading information...</div>
                    </div>
                    <div id="info_popup" class="popup popup-info shadow d-none">
                        <div id="info_popup_title" class="popup-title">Error</div>
                        <div id="info_popup_message" class="popup-text">-</div>
                    </div>
                    <div id="confirm_dialog" class="confirm-dialog d-none">
                        <div class="device-card-header">
                            <span class="fas fa-question-circle fa-lg mr-2"></span>
                            <span id="confirm_dialog_title"></span>
                            <div class="fas fa-window-close fa-lg device-card-header-button" onclick="showPopup(ID_LOADING_WRAPPER, ID_CONFIRM_DIALOG, false)"></div>
                        </div>
                        <div id="confirm_dialog_message" class="confirm-dialog-message"></div>
                        <div class="confirm-dialog-buttons-container">
                            <div id="confirm_dialog_no_button" class="device-card-button confirm-dialog-button">No</div>
                            <div id="confirm_dialog_yes_button" class="device-card-button confirm-dialog-button">Yes</div>
                        </div>
                    </div>
                    <div id="loading_wrapper" class="loading-wrapper element-grayed">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">System monitor</h5>
                                <div>Configure the system monitor service parameters.</div>
                                <div class="param-container">
                                    <span class="param-label">Time between samples:</span>
                                    <input id="sample_rate" class="input-control" type="text"/>
                                    <button class="fas fa-question-circle management-help" title="Time to wait between samples read (in seconds). Must be a positive number greater than 0." data-toggle="tooltip" data-placement="right"></button>
                                </div>
                                <div id="sample_rate_error" class="error-label"></div>
                                <div class="param-container">
                                    <span class="param-label">Samples to buffer:</span>
                                    <input id="num_samples_upload" class="input-control" type="text"/>
                                    <button class="fas fa-question-circle management-help" title="Number of samples of each parameter to gather before uploading them to Digi Remote Manager. Must be a positive number greater than 0." data-toggle="tooltip" data-placement="right"></button>
                                </div>
                                <div id="samples_buffer_error" class="error-label"></div>
                                <div id="save_button" class="device-card-button config-button config-button-disabled" onclick="saveSystemMonitor()">Save</div>
                            </div>
                        </div>
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Reboot device</h5>
                                <div>Click <b>REBOOT</b> to restart your device.</div>
                                <div id="reboot_button" class="device-card-button reboot-button" onclick="askReboot()">REBOOT</div>
                            </div>
                        </div>
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Firmware update</h5>
                                <table style="margin: 15px;">
                                     <tr>
                                        <td style="width: 180px; vertical-align: top;">
                                            <span class="device-card-content-text">Firmware version:</span>
                                        </td>
                                        <td>
                                            <span id="firmware_version" class="device-card-content-value">-</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 180px; vertical-align: top;">
                                            <span class="device-card-content-text">DEY version:</span>
                                        </td>
                                        <td>
                                            <span id="dey_version" class="device-card-content-value">-</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: top;">
                                            <span class="device-card-content-text">Kernel version:</span>
                                        </td>
                                        <td>
                                            <span id="kernel_version" class="device-card-content-value">-</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: top;">
                                            <span class="device-card-content-text">U-Boot version:</span>
                                        </td>
                                        <td>
                                            <span id="uboot_version" class="device-card-content-value">-</span>
                                        </td>
                                    </tr>
                                </table>
                                <div class="firmware-tabs">
                                    <div id="firmware_tab_upload_header" class="firmware-tab-header firmware-tab-header-active" onclick="showFirmwareTab(ID_FIRMWARE_TAB_UPLOAD)">
                                        <span class="fas fa-upload fa-lg"></span>
                                        <span class="firmware-tab-text">Upload a new firmware version</span>
                                    </div>
                                    <div id="firmware_tab_repository_header" class="firmware-tab-header" onclick="showFirmwareTab(ID_FIRMWARE_TAB_REPOSITORY)">
                                        <span class="fas fa-database fa-lg"></span>
                                        <span class="firmware-tab-text">Download from firmware repository</span>
                                    </div>
                                    <div id="firmware_tab_fileset_header" class="firmware-tab-header" onclick="showFirmwareTab(ID_FIRMWARE_TAB_FILESET)" style="display: none;">
                                        <span class="fas fa-database fa-lg"></span>
                                        <span class="firmware-tab-text">Download from file storage</span>
                                    </div>
                                </div>
                                <div class="firmware-tab-container">
                                    <div id="firmware_tab_upload" class="firmware-tab firmware-tab-upload">
                                        <div>Add firmware to Digi Remote Manager firmware repository and install in the device.</div>
                                        <div class="firmware-file-container">
                                            <div class="firmware-param-container ">
                                                <span class="param-label">Firmware version:</span>
                                                <input id="fw_version" class="input-control input-control-wide" style="width: 300px !important;" type="text"/>
                                                <button class="fas fa-question-circle management-help" title="The version of the firmware following the format X.X.X.X (X between 0 and 255)" data-toggle="tooltip" data-placement="right"></button>
                                            </div>
                                            <div id="fw_version_error" class="error-label"></div>
                                            <div class="firmware-param-container">
                                                <span class="param-label">Production:</span>
                                                <label class="switch-control">
                                                    <input id="fw_production" type="checkbox"/>
                                                    <span class="slider-control round"></span>
                                                </label>
                                                <button class="fas fa-question-circle management-help" title="Mark the firmware as production." data-toggle="tooltip" data-placement="right"></button>
                                            </div>
                                            <div class="firmware-param-container">
                                                <span class="param-label">Security:</span>
                                                <select name="fw_security" id="fw_security" class="select-control" style="width: 300px !important;">
                                                   <option value="not-identified">Security fixes have not been identified</option>
                                                   <option value="none">Contains no security fixes</option>
                                                   <option value="low">Contains security fixes rated low</option>
                                                   <option value="medium">Contains security fixes rated medium</option>
                                                   <option value="high">Contains security fixes rated high</option>
                                                   <option value="critical">Contains security fixes rated critical</option>
                                                </select>
                                                <button class="fas fa-question-circle management-help" title="The CSVV score of the highest security related bug in the firmware." data-toggle="tooltip" data-placement="right"></button>
                                            </div>
                                            <div class="firmware-param-container">
                                                <span class="param-label">Release notes:</span>
                                                <input id="fw_release_notes" class="input-control input-control-wide" style="width: 300px !important;" type="text"/>
                                                <button class="fas fa-question-circle management-help" title="URL of the firmware release notes." data-toggle="tooltip" data-placement="right"></button>
                                            </div>
                                            <div id="fw_release_notes_error" class="error-label"></div>
                                            <div class="firmware-param-container">
                                                <div id="select_firmware_button" class="device-card-button browse-firmware-button" onclick="openFirmwareBrowser(ID_UPDATE_FIRMWARE_FILE)">Choose file...</div>
                                                <div id="firmware_file_label" class="firmware-file-label">No file chosen</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="firmware_tab_repository" class="firmware-tab firmware-tab-repository">
                                        <div>Download and install firmware from Digi Remote Manager firmware repository.</div>
                                        <div class="repository-items-header">
                                            <div class="repository-entry-icon"></div>
                                            <div class="repository-entry-version">Version</div>
                                            <div class="repository-entry-production">Production</div>
                                            <div class="repository-entry-security">Security</div>
                                            <div class="repository-entry-name">Name</div>
                                            <div class="repository-entry-size">Size</div>
                                            <div class="repository-entry-info">Release notes</div>
                                        </div>
                                        <div id="repository_items_container" class="repository-items-container"></div>
                                        <div id="refresh_repository_button" class="device-card-button refresh-repository-button" onclick="refreshRepositoryFiles()">Refresh</div>
                                    </div>
                                    <div id="firmware_tab_fileset" class="firmware-tab firmware-tab-fileset">
                                        <div>Download and install firmware from Digi Remote Manager storage.</div>
                                        <div class="fileset-items-header">
                                            <div class="fileset-entry-icon"></div>
                                            <div class="fileset-entry-name">Name</div>
                                            <div class="fileset-entry-path">Path</div>
                                            <div class="fileset-entry-size">Size</div>
                                            <div class="fileset-entry-last-modified">Last modified</div>
                                        </div>
                                        <div id="fileset_items_container" class="fileset-items-container"></div>
                                        <div id="refresh_fileset_button" class="device-card-button refresh-fileset-button" onclick="refreshFilesetFiles()">Refresh</div>
                                        <div id="upload_fileset_button" class="device-card-button refresh-fileset-button" onclick="openFirmwareBrowser(ID_UPLOAD_FIRMWARE_FILESET)">Upload file...</div>
                                    </div>
                                </div>
                                <div id="update_firmware_progress" class="update-firmware-progress">
                                    <div id="update_firmware_progress_title" class="update-firmware-progress-title">Firmware update in progress...</div>
                                    <div class="progress update-firmware-progress-bar">
                                        <div id="update_firmware_progress_bar" class="progress-bar progress-bar-striped update-firmware-progress-bar update-firmware-progress-bar-info update-firmware-progress-bar-hover" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">40%</div>
                                    </div>
                                    <span id="update_firmware_progress_message" class="update-firmware-progress-status">Waiting for firmware update...</span>
                                </div>
                                <div>
                                    <div id="update_firmware_button" class="device-card-button update-firmware-button management-button-disabled" onclick="askUpdateFirmware()">Update Firmware</div>
                                    <div id="cancel_update_firmware_button" class="device-card-button cancel-firmware-update-button management-button-disabled" onclick="askCancelFirmwareUpdate()">Cancel update</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
{% block javascript_inner %}
    <script>
    $(document).ready(function() {
        // Reset variables.
        readingManagementInfo = false;
        deviceRebooting = false;
        updatingFirmware = false;
        firmwareUpdateTimer = null;
        selectedRepositoryEntry = null;
        selectedFilesetEntry = null;
        filesLoaded = false;
        fwLoaded = false;
        // Register system monitor input changed.
        $("#sample_rate").on("input", function(event) {
            validateSystemMonitor(event.target.value);
        });
        $("#num_samples_upload").on("input", function(event) {
            validateSystemMonitor();
        });
        // Register input changed events.
        $("#fw_version").on("input", function(event) {
            validateFwVersionInfo();
        });
        $("#fw_release_notes").on("input", function(event) {
            validateFwVersionInfo();
        });
    });
    </script>
{% endblock %}